<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MINTegration</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css"> 
  <script src="https://kit.fontawesome.com/ef23fed41f.js" crossorigin="anonymous"></script>

</head>
<body>
        <nav class="navbar navbar-expand-lg align-items-end navbar-custom">
                <a class="navbar-brand" href="/">
                  <img src="Bilder Mintegration/LOGO Mintegration.png" width="160" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  
                
                  <ul class="navbar-nav navbar-right d-flex align-items-end">
                        <li class="nav-item">
                          <a class="<%= pageTitle == 'welcome' ? 'nav-link active' : 'nav-link' %>" href="/welcome">Willkommen</a>
                        </li>
                        <li class="nav-item">
                          <li class="nav-item dropdown">
                            
                            <a class="<%= pageTitle == 'project' ? 'nav-link active' : 'nav-link' %> dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Das Projekt
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              
                              <a class="dropdown-item" href="/projectoverview">Allgemeines</a>
                              <!-- <div class="dropdown-divider"></div> -->
                              <a class="dropdown-item" href="/projectfigures">Projekt in Zahlen</a>
                              <a class="dropdown-item" href="/team">Das Team</a>   
                                          
                            </div>
                          </li>
                        </li>
                        <li class="nav-item">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Für Lehrkräfte und Schulen
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              
                              <a class="dropdown-item" href="/FEHLT">Informationen</a>
                              <!-- <div class="dropdown-divider"></div> -->
                              <a class="dropdown-item" href="/FEHLT">ZASt Halberstadt</a>              
                            </div>
                          </li>
                        </li>
                        <li class="nav-item">
                          <a class="<%= pageTitle == 'getinvolved' ? 'nav-link active' : 'nav-link' %>" href="/FEHLT">Engagieren</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/FEHLT">Infomaterial</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/FEHLT">Partner</a>
                        </li>
                  </ul>
                  <ul class="navbar-nav ml-auto d-flex align-items-end">
                    <!-- <% if(!currentUser){ %>
                        <li class="nav-item invisible">
                          <a class="nav-link" href="/login">Einloggen</a>
                        </li>
                        <li class="nav-item invisible">
                          <a class="nav-link" href="/register">Registrieren</a>
                        </li>
                    <% } else {%>
                        <li class="nav-item invisible">
                           <a class="nav-link" href="/logout">Logout </a>
                        </li>
                        <li class="nav-item invisible">
                          <a class="nav-link" href="#">Eingeloggt als: <%= currentUser.username %> </a>
                        </li>
                      <% } %> -->
                      <li class="nav-item">
                    
                        <a class="nav-link" href="/login"><i class="far fa-address-card"></i> Kontakt</a>
                      </li>

                 </ul>
                </div>
                </div>

              </nav>
              <div class="container">
                <% if(error && error.length >0){ %>
                  <div class="alert alert-danger" role="alert">
                    <%= error %>
                  </div>
                <% } %>
                <% if(success && success.length >0){ %>
                  <div class="alert alert-success" role="alert">
                    <%= success %>
                  </div>
                <% } %>
              </div>